@import "../../styles/variables";
.devicesList {
  display: grid;
  grid-gap: 20px;
  @include desktop {
    grid-template-columns: 300px 300px;
  }
}

.list {
  width: 100%;
  background: $white;
  @include tablet {
    max-width: 300px;

  }
}

.subheader {
  font-weight: bold;
}
